#.env.example

# Blob Storage Configuration
# ============================================
AZURE_STORAGE_CONNECTION_STRING=<insert-your-connection-string>
AZURE_CONNECTION_KEY=<insert-your-connection-key>
RAW_IMAGES_CONTAINER=<insert-your-container-name>
TIFF_CONTAINER=<insert-your-container-name>
MOSAIC_CONTAINER=<insert-your-container-name>
INDICES_CONTAINER=<insert-your-container-name>

# Azure Container Instance Configuration, just secrets
# ============================================
ACR_IMAGE=<insert-your-image>
ACR_REGISTRY_SERVER=<insert-your-registry-server>
ACR_REGISTRY_USERNAME=<insert-your-username>
ACR_REGISTRY_PASSWORD=<insert-your-password>

# Azure Cosmos Configuratino
# ============================================
AZURE_COSMOS_CONNECTION_STRING=<insert-yours>
AZURE_COSMOS_CONNECTION_KEY=<inster-yours>
AZURE_COSMOS_URI=<insert-yours>
AZURE_COSMOS_DB_NAME=<insert-yours>

# Azure Credentils
# ============================================
AZURE_SUBSCRIPTION_ID=<insert-your-subscription-id>
AZURE_CLIENT_ID=<insert-your-client-id>
AZURE_TENANT_ID=<insert-your-tenant-id>
AZURE_CLIENT_SECRET=<insert-your-client-secret>